MONGODB_URI=mongodb://192.168.0.133:27017
MONGODB_DB=aichat
MONGODB_COLLECTION_CHARACTERS=characters
MONGODB_COLLECTION_LOCALIZATIONS=characterlocalizations
REFRESH_INTERVAL_MS=3600000
HOST=127.0.0.1
PORT=3000
